.footer {
   background-color: #f7f7f7;
   padding: 90px 0px;
   @media (max-width: 900px) {
      padding: 40px 0px;
   }
   @media (max-width: 600px) {
      padding: 20px 0px;
   }
   // .footer_container
   &_container {
   }
   // .footer__body
   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 520px) {
         flex-direction: column;
         text-align: center;
		}
   }
   // .footer__adress
   &__adress {
      flex: 0 1 33.33%;

      font-size: 13.9px;
      font-weight: 400;
      font-style: italic;
   }
   // .footer__social
   &__social {
      text-align: center;
      flex: 0 1 33.33%;
      & :nth-child(2) {
         padding: 0px 15px;
      }
      @media (max-width: 520px) {
         margin: 20px 0px 15px 0px;
		}
   }
   
   // .footer__mark
   &__mark {
      flex: 0 1 33.33%;
      display: flex;
      align-items: center;
      justify-content: end;
      img {
         padding: 0px 0px 0px 10px;
      }
      font-size: 13.9px;
      line-height: 17px;
      font-weight: 400;
      font-style: italic;
      color: #848789;
   }
}
